<!doctype html>
<html lang="en">
	<head>
		
		
		<!-- PLUGIN CSS -->
		<link href="C:\wamp64\www\projet_cp2\public\solic_pro\assets\css\style.css" rel="stylesheet">

		<!--- FONT-ICONS CSS -->
		<link href="C:\wamp64\www\projet_cp2\public\solic_pro\assets\css\plugin.css" rel="stylesheet" >

		<!-- Switcher css -->

	</head>

	<body >

		
		<!-- START PAGE -->
		<div class="card mb-4" >
		  <div class="container-fluid col-md-10">
			   <div class="card-body">
									
								
				   <div >
						   <div class="col-md-12 ">
    						<div id="external-events">

							</div>
						    </div>
							<div class="col-md-10 ">
							<div id='calendar2'>
                            </div>
					        </div>
	              </div>
				</div>												
          </div>			
	 </div>
		<!-- END PAGE -->

		
	
		<script src="\solic_pro\assets\plugins\fullcalendar\moment.min.js"></script>
		<script src="\solic_pro\assets\plugins\fullcalendar\fullcalendar.min.js"></script>
		<script src="\solic_pro\assets\js\fullcalendar.js"></script>
		<script src="\solic_pro\assets\plugins\fullcalendar\fullcalendar.scss"></script>

        <!-- STICKY JS-->

		

	</body>
</html>
